@page "/projects"
@attribute [Authorize]

@using LT.DigitalOffice.GUI.Properties;

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Projects navigation">
        <a class="nav-link">@Resources.CreateNewProject</a>
    </nav>
</div>

<div class="projects">
    <div class="projects-tools">

        <input
            type="text"
            class="form-control"
            placeholder="@Resources.n"
            @bind-value="_searchValue"
            @bind-value:event="oninput"
            @onkeypress="SearchProjectsAsync"/>
        <p>@Resources.Filters:</p>

        <div class="dropdown">

            <button
                type="button"
                id="plus"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                @onclick="ShowDropdownMenu" />

            <div class="dropdown-menu @(_isShowDropdownMenu ? "dropdown-menu-show" : "")" aria-labelledby="plus">
                <a
                    @ref=_projectNameRef
                    class="@GetStyleFiltersOfDropdown(_projectNameRef)"
                    href="javascript: void(0);"
                    @onclick="() => SetFilter(_projectNameRef)">
                    @Resources.Name
                </a>
                <a
                    @ref=_shortNameRef
                    class="@GetStyleFiltersOfDropdown(_shortNameRef)"
                    href="javascript: void(0);" @onclick="() => SetFilter(_shortNameRef)">
                    @Resources.ShortName
                </a>
                <a
                    @ref=_departmentRef
                    class="@GetStyleFiltersOfDropdown(_departmentRef)"
                    href="javascript: void(0);"
                    @onclick="() => SetFilter(_departmentRef)">
                    @Resources.Department
                </a>
            </div>

        </div>

        @if (stateCheck(_projectNameRef, _showStateOfFiltersDropdown))
        {
            <div class=@(GetStyleFilter(_projectNameRef.Id)) @onclick="() => _useFilterId = _projectNameRef.Id">
                @Resources.Name: @_projectsFilter.Name
                <button class="remove-button" @onclick="() => SetValueToFilter(isRemoveFilter: true, _projectNameRef.Id)" />
            </div>
        }

        @if (stateCheck(_shortNameRef, _showStateOfFiltersDropdown))
        {
            <div class=@(GetStyleFilter(_shortNameRef.Id)) @onclick="() => _useFilterId = _shortNameRef.Id">
                @Resources.ShortName: @_projectsFilter.ShortName
                <button class="remove-button" @onclick="() => SetValueToFilter(isRemoveFilter: true, _shortNameRef.Id)" />
            </div>
        }

        @if (stateCheck(_departmentRef, _showStateOfFiltersDropdown))
        {
            <div class=@(GetStyleFilter(_departmentRef.Id)) @onclick="() => _useFilterId = _departmentRef.Id">
                @Resources.Department: @_projectsFilter.Department
                <button class="remove-button" @onclick="() => SetValueToFilter(isRemoveFilter: true, _departmentRef.Id)" />
            </div>
        }

    </div>

    <div class="overflow-auto">

        @if (_projectsInfo is not null)
        {
            @foreach (var project in _projectsInfo)
            {
                <div class="project">

                    <div style="padding: 2%">

                        <h1>@project.Name</h1>
                        <h2>@project.ShortName</h2>
                        <p>@project.Description</p>

                        <div class="project-addition-info">

                            <p>@project.Department.Name</p>
                            <p style="position:absolute; right:0">@Resources.Creation: @(((DateTime)project.CreatedAt).Date)</p>

                        </div>

                    </div>

                </div>
            }
        }

    </div>

    @if (_projectsInfo is not null && _projectsInfo.Count >= TakeCount && _projectsInfo.Count != _totalCount)
    {
        <button type="button" class="btn btn-primary" id="showMore" @onclick="ChangeProjectsCountAsync">@Resources.ShowMore</button>
    }

</div>
