@page "/user/course"
@attribute [Authorize]

@using LT.DigitalOffice.GUI.Services.Interfaces

@inject IExamService _examService
@inject NavigationManager UriHelper;

<div class="user-course-page_container">
    <div class="user-course_exams_container">
    @foreach (var userExam in _userExams)
    {
        <div class=@(userExam.IsFinished || userExam.Exam.DeadLineUtc < DateTime.UtcNow ? "user-course_exam closed": "user-course_exam")
            onclick="@(() => OnSetExamAsync(userExam.Exam.Id))">
            <h4 class="user-course_exam_header">
                @userExam.Exam.Name
            </h4>
            <h6 class="user-course_exam_deadline">
                Deadline: @(userExam.Exam.DeadLineUtc.HasValue ? userExam.Exam.DeadLineUtc.Value.LocalDateTime : "")
            </h6>
            <p class="user-course_exam_description">
                @userExam.Exam.Description
            </p>
            <div class="user-course_exam_status">
                <p>@(userExam.IsFinished ? $"Finished at {userExam.FinishedAtUtc.Value.Date}" : "")</p>
                <button class=@(userExam.IsFinished ? "btn btn-outline-dark" : "btn btn-success")
                    onclick="@(() => OnSetExamAsync(userExam.Exam.Id))">
                    @(userExam.IsFinished ? "Results" : "Go")
                </button>
            </div>
        </div>
    }
    </div>
</div>