@using System.Threading.Tasks;
@using LT.DigitalOffice.GUI.Services.Interfaces;
@using LT.DigitalOffice.GUI.Services.ApiClients.AuthService;
@using LT.DigitalOffice.GUI.Properties;

@inject IAuthService authService
@inject NavigationManager UriHelper
@page "/login"

<div class="auth-container">
    <div class="auth-content">
        <h1 class="h1">@Resources.SiteName</h1>
        <input @bind-value="authData.LoginData"
               type="text"
               class="form-control"
               placeholder="Login or Email or Phone number"
               @onkeyup="@(async (k) => {
                               if (k.Code == "Enter" || k.Code == "ArrowDown")
                                   await passwordInput.FocusAsync(); })" />
        <input @bind-value="authData.Password"
               @ref="passwordInput"
               type="password"
               class="form-control"
               placeholder="Password"
               @onkeyup="@(async (k) => { if (k.Code == "Enter") await Post(); })" />
        <a>Forgot your password?</a>
        <p class="error_text">@message</p>
        <button class="btn btn-primary" @onclick="@Post">Login</button>
    </div>
</div>

@code {
    private AuthenticationRequest authData = new();
    private ElementReference passwordInput;
    public string message = "";
    public bool isSuccess = false;

    private async Task Post()
    {
        message = await authService.Login(authData);
        if(String.IsNullOrEmpty(message))
        {
            UriHelper.NavigateTo("");
        }
    }
}
