@using System.Threading.Tasks;
@using LT.DigitalOffice.GUI.Services.Interfaces;
@using LT.DigitalOffice.GUI.Services.ApiClients.CompanyService;
@using LT.DigitalOffice.GUI.Properties;

@inject ICompanyService companyService

<div class="create-department_container">
    <label for="create-department_name">
        @Resources.DepartmentName*
        <input @bind-value="departmentInfo.Name"
               type="text"
               id="create-department_name"
               class="form-control"
               @onkeyup="@((k) => {
                               if (k.Code == "Enter" || k.Code == "ArrowDown")
                                   descriptionInput.FocusAsync();})" />
    </label>
    <label for="create-department_description">
        @Resources.DepartmentDescription*
        <textarea @bind="departmentInfo.Description"
                  @ref="descriptionInput"
                  type="text"
                  id="create-department_description"
                  class="form-control"
                  @onkeyup="@((k) => {
                                  if (k.Code == "Enter" || k.Code == "ArrowDown")
                                      directorSelect.FocusAsync();})" />
    </label>
    <label for="create-department_director">
        @Resources.DepartmentDirector
        <select @bind="departmentInfo.DirectorUserId"
                @ref="directorSelect"
                id="create-department_director"
                class="form-select">
            <option value=null selected>@Resources.NotSelected...</option>
            <option>to do</option>
        </select>
    </label>
    <div class="create-department_actions-container">
        <p class="info_container">@message</p>
        <button class="btn btn-primary" @onclick="@Post">@Resources.CreateDepartment</button>
    </div>

</div>

@code {
    private NewDepartmentRequest departmentData = new();
    private BaseDepartmentInfo departmentInfo = new();
    public string message;
    private ElementReference descriptionInput;
    private ElementReference directorSelect;

    private async Task Post()
    {
        departmentData.Info = departmentInfo;

        message = await companyService.CreateDepartment(departmentData);
    }
}


