@using LT.DigitalOffice.GUI.Properties;

@page "/admin"
@attribute [Authorize]

<div class="admin-page_container">
    <div class="company-actions_container">
        <h4>@Resources.Company</h4>
        <button class="btn btn-link"
                @onclick='(() => {
                              modalWindow.Open();
                              modalTitle = Resources.CreateDepartment;
                          })'>
            @Resources.CreateDepartment
        </button>
        <button class="btn btn-link"
                @onclick='(() => {
                              modalWindow.Open();
                              modalTitle = Resources.CreatePosition;
                          })'>
            @Resources.CreatePosition
        </button>
    </div>
    <div class="user-actions_container">
        <h4>@Resources.Users</h4>
        <button class="btn btn-link"
                @onclick='(() => {
                              modalWindow.Open();
                              modalTitle = Resources.CreateUser;
                          })'>
            @Resources.CreateUser
        </button>
    </div>
</div>


<ModalWindow @ref="modalWindow">
    <Title>@modalTitle</Title>
    <Body>
        @if (modalTitle == Resources.CreateDepartment)
        {
            <LT.DigitalOffice.GUI.Pages.Admin.Company.CreateDepartment />
        }
        @if (modalTitle == Resources.CreatePosition)
        {
            <LT.DigitalOffice.GUI.Pages.Admin.Company.CreatePosition />
        }
        @if (modalTitle == Resources.CreateUser)
        {
            <LT.DigitalOffice.GUI.Pages.Admin.User.CreateUser />
        }

    </Body>
</ModalWindow>

@code {
    private ModalWindow modalWindow { get; set; }
    private string modalTitle { get; set; }
}
